.projects__content {
  width: 95%;
  height: 95%;
  border-radius: 2rem;
  background-color: hsla(0, 0%, 15%, 0.6);
  z-index: 100;
  overflow: hidden;
  padding-block: 1rem;
}

/* Estilos generales para .project__card */
.project__card {
  --padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-top: var(--padding);
  padding-left: var(--padding);
  border-radius: 1.5rem;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease;
  background-position: center;
  background-color: var(--bg-primary);
}

/* Efecto de hover para .project__card */
.project__card:hover {
  transform: scale(1.05);
}

/* Superposición */
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

/* Contenido del proyecto */
.project__content {
  height: 7vh;
}

/* Título del proyecto */
.project__title {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  color: black;
  text-decoration: inherit;
  position: relative;
  z-index: 1;
  width: max-content;
}
.project__title::after,
.project__title::before {
  content: '';
  position: absolute;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 1rem;
  height: 27px;
  bottom: 0;
  left: calc(var(--padding) * -1);
  width: calc(100% + var(--padding));
  z-index: -1;
}
.project__title::before {
  background-color: var(--neon-04);
  opacity: 0.4;
}
.project__title::after {
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.4s ease;
}
.project__title:hover {
  transition: 0.7s ease-out;
  color: var(--text-00);
  text-shadow: 0.5px 1px 3px #ffffff8d;
}

/* Descripción del proyecto */
.project__subcontent {
  height: 40%;
  font-weight: 300;
  color: var(--text-00);
  position: relative;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  background-color: var(--bg-primary);
  margin: -1rem;
  overflow-y: scroll;
}

.project__description {
  font-size: 0.75em;
  padding-top: 0.5rem;
  margin-inline: 1rem 2rem;
  display: block;
  white-space: pre-line;
  z-index: 2;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.project__description-link {
  display: flex;
  align-items: center;
  width: max-content;
  margin-block: 0.5rem;
  text-decoration: inherit;
  color: var(--neon-04);
}

.project__description-text {
  font-weight: 400;
  transition: .7s ease-out;
  margin-left: 0.25rem;
}
.project__description-text:hover {
  color: var(--neon-03);
  transition: 0.4s ease;
  text-shadow: 0.5px 1px 4px var(--neon-03);
}

/* Animaciones de hover */
.project__card:hover .project__overlay {
  background-image: var(--gradient-to-up);
}

.project__card:hover .project__subcontent {
  transform: translateY(0);
}

.project__card:hover .project__title::after {
  transform: scaleX(1);
  background-color: var(--neon-04);
  transition: 0.4s ease-out;
}
.project__card:hover .project__title:hover::after {
  transition: 0.7s ease;
  background-color: var(--neon-05);
  background-color: var(--text-03);
}

/*? ver animacion para cuandose haga foco */
