/* Estilos generales para .project__card */
.project__card {
  --padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-top: var(--padding);
  padding-left: var(--padding);
  border-radius: 1rem;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease;
  background-position: center;
  background-color: var(--bg-primary);
}

/* Efecto de hover para .project__card */
.project__card:hover {
  transform: scale(1.05);
}

/* Superposición */
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

/* Contenido del proyecto */
.project__content {
  height: 7vh;
}

/* Título del proyecto */
.project__title {
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  /** color: var(--bg-primary); */
  color: black;
  text-decoration: inherit;
  position: relative;
  z-index: 1;
  width: max-content;
}
.project__title::after,
.project__title::before {
  content: '';
  position: absolute;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 1rem;
  height: 27px;
  bottom: 0;
  left: calc(var(--padding) * -1);
  width: calc(100% + var(--padding));
  z-index: -1;
}
.project__title::before {
  background-color: var(--neon-04);
  opacity: 0.4;
}
.project__title::after {
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.4s ease;
}
.project__title:hover {
  transition: 0.4s ease;
  text-shadow: 0.5px 1px 4px var(--neon-02);
}

/* Descripción del proyecto */
.project__subcontent {
  height: 40%;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text-white);
  position: relative;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  background-color: var(--bg-primary);
  margin: -1rem;
  padding: 0.5rem 1rem;
  overflow-y: scroll;
}

.project__description {
  display: block;
  white-space: pre-line;
  z-index: 2;
  padding-bottom: 1rem;
}


.project__description-link {
  display: block;
  width: max-content;
  color: var(--neon-04);
  font-weight: 400;
  margin-top: 0.5rem;
  text-decoration: inherit;
  transition: 0.4s ease;
}
.project__description-link:hover {
  text-shadow: 0.5px 1px 4px var(--neon-04);
}

/* Animaciones de hover */
.project__card:hover .project__overlay {
  background-image: var(--gradient-to-up);
  /* backdrop-filter: blur(0.05em); */
}

.project__card:hover .project__subcontent {
  transform: translateY(0);
}

.project__card:hover .project__title::after {
  transform: scaleX(1);
  background-color: var(--neon-04);
}
